<!DOCTYPE html>
<html lang="en">
<head>
<title>Save/Get Data Microservice</title>
</head>
<body>

    <p><strong>Flask API that Saves/Loads passed list data, using HTTPS requests.</strong></p>

    <p>Save a list by using (serverIP)/data_save</p>
    
    <p>Recall a list by using (serverIP)/data_get</p>
    
    <p>Go to : (serverIP)/data to view saved data in an HTML format.</p>
    
    <p>For more information on how to use this Microservice go to this <p><a href="https://github.com/sirnobility/ListSave_Load">Github Repository</a></p></p>

    <p>&nbsp;</p>
    
</body>
</html>